# Database connection string (supports PostgreSQL, MySQL, SQLite, etc.)
# Contoh untuk PostgreSQL lokal: postgresql://username:password@localhost:5432/macaaksara
# Contoh untuk Railway: postgresql://postgres:password@proxy.rlwy.net:port/railway
DATABASE_URL="postgresql://username:password@localhost:5432/macaaksara"
